* {
  box-sizing: border-box;
}

.flexContainer {
  display: flex;

  flex-wrap: wrap;
  font-size: 15px;
  background-image: linear-gradient(
    to bottom right,
    rgb(19, 19, 134),
    rgb(146, 140, 140)
  );
}

.flexContainer div {
  height: 200px;
}
.imgTag {
  flex: 5%;
  padding: 25px;
}

.flexItemLeft {
  display: flex;
  padding: 10px;
  flex: 55%;
}
.flexItemLeft p {
  cursor: pointer !important;
}

.flexItemRight span:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.flexItemRight {
  padding: 25px;
  flex: 10%;
}
.flexContainer span {
  color: rgb(248, 245, 245);
  text-decoration: none;
  font-family: sans-serif;
}

.flexItemLeft ul li {
  display: inline-block;
  margin-left: 3em;
}
.flexItemLeft ul li :hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}
