.container {
  display: grid;
  grid-template-columns: 3% 12% 56% 18% 1%;
  grid-template-rows: auto auto auto;
  grid-gap: 2em;
}

.Midbox a {
  margin-left: 70px;
  margin-right: 10px;
  text-decoration: none;
}
.Image img {
  text-align: center;
  margin-left: 20px;
  margin-top: 5px;
}
.Up {
  margin-left: 90px;
  box-shadow: 0 4px 8px 0 rgba(180, 180, 180, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  width: 900px;
  height: 55px;
  margin-top: 50px;
  /* margin-bottom:100px ;      */
}
.Up img {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#LeftImage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#midBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* #rightBox{
     /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
 } */

/* Right Part Started */
.rightPart {
  display: grid;
  grid-gap: 1em;
}
.rightPart div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.firstCard {
  margin-top: -72px;
  padding-left: 10px;
  height: 280px;
  padding-right: 5px;
}
.firstCard img {
  float: right;
  margin-top: -60px;
  width: 50px;
  height: 50px;
}
.firstCard input {
  width: 80%;
  height: 30px;
  margin-left: 20px;
}
.firstCard button {
  width: 80%;
  height: 40px;
  margin-left: 20px;
  margin-top: 5px;
  background-color: aqua;
  border: none;
}
.firstCard a {
  margin: 5px;
  cursor: pointer;
}

.cardSecond {
  padding-left: 20px;
  height: 260px;
}
.cardSecond button {
  width: 80%;
  height: 40px;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgb(0, 119, 255);
  border: none;
}

.cardthird {
  padding-left: 20px;
  padding-right: 5px;
}
.cardthird img {
  float: right;
  margin-top: -30px;
}
.cardthird a {
  text-decoration: none;
  padding-right: 5px;
}

.fourthCard {
  padding-left: 20px;
  padding-top: 30px;
}
.fourthCard a {
  text-decoration: none;
}
.fourthCard hr {
  width: 80%;
}
.fourthCard button {
  background-color: rgb(0, 132, 255);
  height: 40px;
  width: 90%;
  margin-top: 5px;
  color: white;
  border: none;
}

.fifthCard {
  padding-left: 20px;
  padding-top: 10px;
}
.fifthCard button {
  background-color: rgb(0, 132, 255);
  height: 40px;
  width: 95%;
  margin-top: 5px;
  color: white;
  border: none;
}
